doctype html
html(lang="ru")
    head
        // Required meta tags
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        // FONTS
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap&subset=cyrillic', rel='stylesheet')
        // CSS
        link(rel="stylesheet" href="css/style.min.css")
    body
        
        main.main
          .block
            .block-tab
              a#land.tab.active-tab Лэндинг
              a#corp.tab Многостраничник
            .block-page
              .block-blocks
                span.block-text Количество блоков
                input.input#calc-blocks(type="number")
              .block-pages
                span.block-text Количество страниц 
                input.input#calc-pages(type="number")
              .block-hours
                span.block-text Сколько часов на проект
                input.input#calc-hours(type="number")
              .block-count
                span.block-text Стоимость вашего часа
                input.input#calc-rate(type="number")
              h5.block-smallTitle Дополнительно
              .block-serv
                input.block-checkbox(id="admin" type="checkbox")
                label(for="admin") Возможность редактировать текст на сайте
              .block-serv
                input.block-checkbox(id="cms" type="checkbox")
                label(for="cms") Установка на CMS
              .block-price
                h1.block-price__title Общая стоимость
                input.block-price__count#price(type="text" value="5000")

        //SCRIPT
        script(src="js/script.js")
